/* 头部 */
.header {
    width: 100%;
    height: 900px;
    text-align: center;
    padding-top: 200px;
}

/* 头部 */
.bgc {
    background: url(../media/p1-fire.jpg) no-repeat fixed center;
    background-size: 100% 100%;
}

/* 头部标题 */
.slogan {
    font-family: myFont;
    line-height: 100px;
    font-size: 50px;
    height: 100px;
    color: white;
}


.ss1{
    width: 100%;
    height: 600px;
}

.ss1 video{

    width: 1200px;
}

/* section1 */
.s1 {
    position: relative;
    height: 550px;
    background: url(../media/p1-glacier.jpg) no-repeat scroll center;
    background-size: auto 800px;
    color: white;
    font-family: 'SimSun';
    margin-top: 50px;
}

.s1 .word {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 文字 */
.s1 .word span {
    font-family: 'myFont';
}

.s1 p {
    display: inline-block;
    margin-left: 150px;
    margin-right: 50px;
}

/* section2 */
.s2 {
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 45px;
}

.s2 p {
    font-family: 'myFont';
}


/* ss */
.ss{
    position: relative;
    width: 100%;
    height: 300px;

}
.ss .tittle{
    position: absolute;
    font-size: 90px;
    font-family: myFont;
    color: #f0fcff;
    top: 133px;
    left: 85px;
}

.ss .tittle_en{
    position: absolute;
    font-size: 60px;
    color: #13b1d6;
    font-family: myFont;
    top: 324px;
    left: 24px;
    margin: 150px auto;
    width: 200px;

    line-height: 24px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);     /* IE 9 */
    -moz-transform:rotate(90deg);     /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);     /* Opera */
    border-radius: 20px;
}

.ss .text{
    position: absolute;
    height: 100px;
    width: 800px;
    background-color: #8b9092;
    font-family: 'SimSun';
    color: #f0fcff;
    font-size: 20px;
    top: 228px;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    border-radius: 20px;
    padding-top: 21px;
}

.ss .text1{
    position: absolute;
    height: 100px;
    width: 600px;
    font-family: 'SimSun';
    color: #f0fcff;
    font-size: 15px;
    top: 101px;
    left: 1062px;
    width: 20px;  
    margin: 0 auto;  
    line-height: 20px;  
    font-size: 20px;

}
.ss .text2{
    position: absolute;
    height: 100px;
    width: 600px;
    font-family: 'SimSun';
    color: #f0fcff;
    font-size: 15px;
    top: 101px;
    left: 1035px;
    width: 20px;  
    margin: 0 auto;  
    line-height: 20px;  
    font-size: 20px;

}

/* section3 */
.s3 {
    position: relative;
    height: 500px;
    background: url(../media/p1-trangle.png) no-repeat scroll center;
    background-size: 80% 100%;
    margin-bottom: 100px;
}

.s3 p {
    position: absolute;
    font-size: 20px;
    color: white;
}


/* section4 */

.s4 {
    margin-top: 150px;
    position: relative;
    height: 550px;
    width: 100%;
}

.s4 #chart1 {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -500px;
}

/* section5 */

.s5 {
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    color: white;
}

/* section6 */
.s6 {

    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 500px;
}

.s6 #chart2 {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -450px;
}

/* section7 */
.s7 {
    position: relative;
    height: 600px;
    background: url(../media/p1-drought.jpg) no-repeat scroll center;
    background-size: 100% 100%;
}

.s7 .inner {
    position: absolute;
    height: 500px;
    width: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -250px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px 100px;

}

/* section8 */
.s8 {
    position: relative;
    height: 600px;
    font-family: myFont;
}

.s8 .que {
    position: absolute;
    font-size: 400px;
    color: #ef3307;
    top: 54px;
    left: 127px;
}

.s8 .word{
    position: absolute;
    color: white;
    top: 235px;
    left: 374px;
    font-size: 30px;
}