/* 头部 */
.header {
    width: 100%;
    height: 900px;
    text-align: center;
    
}

/* 头部 */
.bgc {
    background: url(../media/p5-header.jpg) no-repeat fixed center;
    background-size: 100% 100%;
}

.mask{
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 头部标题 */
.slogan {
    line-height: 100px;
    font-size: 100px;
    height: 100px;
    color: white;
    font-family: myFont;
    
}

/* s1 */
.s1 {
    position: relative;
    width: 100%;
    height: 650px;
    text-align: left;
}

.s1 .t {
    position: absolute;
    width: 1200px;
    top: 50px;
    left: 100px;
    font-size: 23px;
    font-family: myFont;
    color: white;
}

.s1 .text {
    position: absolute;

    width: 600px;
    top: 179px;
    left: 684px;
    font-size: 20px;
    font-family: 'SimSun';
    color: white;
}

.s1 img {
    position: absolute;
    width: 440px;
    height: 330px;
    left: 175px;
    top: 200px;
}

/* s2 */
.s2 {
    position: relative;
    width: 100%;
    height: 700px;
    text-align-last: left;
}

.s2 .t {
    position: absolute;
    font-size: 40px;
    font-family: myFont;
    top: 100px;
    left: 260px;
    color: white;
}

.s2 .box1 {
    position: absolute;
    width: 350px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 30px;
    top: 300px;
    left: 70px;
    font-size: 18px;
    padding-left: 28px;
    padding-top: 47px;
    color: white;
}

.s2 .box2 {
    position: absolute;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    background: url(../media/p5-people.jpg) scroll center no-repeat;
    background-size: 200% 100%;
    top: 300px;
    left: 450px;
}

.s2 .box3 {
    position: absolute;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    background: url(../media/p5-hand.jpg) scroll center no-repeat;
    background-size: 100% 100%;
    top: 300px;
    left: 700px;
}

.s2 .box4 {
    position: absolute;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    background: url(../media/p5-flag.jpg) scroll center no-repeat;
    background-size: 100% 100%;
    top: 300px;
    left: 950px;
}

/* s3 */
.s3 {
    width: 100%;
    height: 600px;
    text-align: center;
}

.s3 .t {
    padding-top: 90px;
    font-size: 80px;
    font-family: myFont;
    color: white;
    padding-bottom: 100px;
}

/* s4 */

.s4 {
    position: relative;
    width: 100%;
    height: 600px;
    text-align-last: left;
}

.s4 .text {
    position: absolute;
    font-size: 55px;
    width: 600px;
    color: white;
    font-family: myFont;
    top: 138px;
    left: 125px;
    z-index: 5;
}

.s4 .t1 {
    position: absolute;
    color: #53463a;
    left: 500px;
    top: 0px;
    font-size: 150px;
}

.s4 .t2 {
    position: absolute;
    color: #53463a;
    left: 500px;
    top: 300px;
    font-size: 150px;
}